<h1>{{title}}</h1>
<p class="creepy">Created By <a href="//owebboy.com">owebboy</a>. <a href="//github.com/owebboy/hashtags">View on Github</a></p>

<form action="/yolo" method="post" id="yolo">
  <h2>Enter Your Hashtag</h2>
  <input type="text" name="yourHashtag" id="input" placeholder="this is where your # goes">

  <button class="button" id="newHashtag">Create Your Hashtag!</button>
</form>

<section class="hashtags">
  <h2>Hashtags</h2>
  {{#each list}}
  <div class="container">
    <div class="col-2">
      <p class="hashtag">#{{hashtag}}</p>
      <p class="creepy"><a href="/edit/{{id}}" class="id">{{id}}</a></p>
      <p class="cool">{{cool}}</p>
    </div>
    <div class="col-4">
      <p><a class="smile" href="/like/{{id}}" class="like"><i class="fa fa-smile-o"></i></a> <a class="frown" href="/dislike/{{id}}" class="like"><i class="fa fa-frown-o"></i></a> <span class="labelLike">{{likes}}</span></p>
     </div>
  {{/each}}
</section>
