<h1>{{title}}</h1>
<p class="creepy">Created By <a href="//owebboy.com">owebboy</a>. <a href="//github.com/owebboy/hashtags">View on Github</a></p>

<form action="/yolo" method="post" id="yolo" onsubmit="return validateForm()">
  <h2>Enter Your Hashtag</h2>
  <input type="text" name="yourHashtag" id="your-hashtag" placeholder="this is where your # goes">

  <button class="button">Create Your Hashtag!</button>
</form>

<section class="hashtags">
  <h2>Hashtags</h2>
  {{#each list}}
  <div class="container">
    <div class="col-2"><p class="hashtag">#{{hashtag}}</p> <p class="creepy">{{id}}</p></div>
    <div class="col-4">
      <p><a href="/like/{{id}}" class="like">Like</a> <span class="labelLike">{{likes}}</span></p>
    </div>
  {{/each}}
</section>
